@import "../../../../scss/color.scss";
@import "../../../../scss/default.scss";
/*fontawesome*/
@import "font-awesome-sprockets";
@import "font-awesome";
/*bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding: 3rem 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


header {
  position: fixed;
  z-index: 999;
  #header-container{
    width: 100%;
    position: relative;
    #logout {
      position: absolute;
      right: 5%;
      top:0;
    }
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  // display: block;//デバッグするときここいじる
  display: none;//デバッグするときここいじる
  position:fixed;
  bottom:8vh;
  text-align: center;
  height: 9vh;
  width: 50%;
  clear: both;
  width: 100%;
  // margin: 12vh 0;
  @include box_sizing;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
    background-color: #0000ff;
  // @extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* microposts */

.microposts {
	list-style: none;
	padding: 0;
	li {
	  padding: 10px 0;
	  border-top: 1px solid #e8e8e8;
	}
	.user {
	  margin-top: 5em;
	  padding-top: 0;
	}
	.content {
	  display: block;
	  margin-left: 60px;
	  img {
		display: block;
		padding: 5px 0;
	  }
	}
	.timestamp {
	  color: gray;
	  display: block;
	  margin-left: 60px;
	}
	.gravatar {
	  float: left;
	  margin-right: 10px;
	  margin-top: 5px;
	}
  }
  
  aside {
	textarea {
	  height: 100px;
	  margin-bottom: 5px;
	}
}

span.image {
  margin-top: 10px;
	input {
    border: 0;
	}
}

/*post_idea*/

/*login_page*/
#login {
  width: 100%;
  height: 100%;
  div.alert {
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 0;
  }
  div {
    width: 100%;
    height: 100%;
    @media screen {
      
    }
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
          width: 50%;
          height: 100%;
          text-align: left;
          padding: 15% 5%;
        }
        #app-visual-login{
          color: $color1;
          font-weight: bold;
          background-color: $color3;
        }
        #login-form{
          background-color: $near-white;
        }
      }
    }
  }

/*log in or sign up page*/

  .tab-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}
.tab-label {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 3px 12px;
    order: -1;
}
.tab-content {
  display: none;
  .btn {
    background-color: $color1;
  }
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: $color1;
}
.tab-switch:checked+.tab-label+.tab-content {
  display: block;
  // text-align: center;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}
.container {
  margin: 0 auto;

}
.row {
  margin: 0 auto;
}
.col-md-6{
  margin: 0 auto;
}

/*pagination*/
div.pagination {
  margin-bottom: 9vh;
  z-index: 1;
}
