/*color*/
/*Home Card*/
#timeline {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timeline #idea {
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: 80%;
  box-shadow: 5% 5% 0 #ffcf32;
  background-color: #333333;
  color: #ffcf32;
  border-radius: 1.5rem;
}

#timeline #idea #title {
  width: 100%;
  text-align: center;
}

#timeline #idea #thumbnail {
  margin: 0 auto;
}

#timeline #idea #thumbnail img {
  max-width: 100%;
  height: auto;
}

#timeline #idea #detail {
  padding: 1rem;
  width: 100%;
  text-align: left;
}

#judge {
  height: 8vh;
  width: 100%;
}

#judge ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 0.5rem;
}

#judge ul li {
  width: 6rem;
  height: 6rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

#judge ul li i {
  width: 80%;
  height: 80%;
  top: 13%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-size: 60px;
  margin: auto;
}

#judge ul .nop {
  color: #e0245e;
}

#judge ul .heart {
  color: #66ffcc;
}
