/*color*/
/*ranking*/
#ranking {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

#ranking .content {
  background-color: #eee;
  width: 80%;
  height: 80%;
}

#ranking .content .page-title {
  margin-bottom: 2rem;
  width: 80%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

#ranking .content .page-title h1 {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 30%;
  height: 100%;
  text-align: center;
  color: #333333;
  border-bottom: solid 10px #ff0000;
  max-width: 200px;
}

#ranking .content ul {
  background-color: #eee;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

#ranking .content ul li {
  height: 10%;
}

#ranking .content ul li .li-content {
  display: flex;
  flex-direction: row;
}

#ranking .content ul #ranking-1 div i {
  color: gold;
}

#ranking .content ul #ranking-2 div i {
  color: silver;
}

#ranking .content ul #ranking-3 div i {
  color: #d87b5f;
}

.rank {
  font-weight: bold;
}
