
    <footer>
      <div>
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-crown"></i>
            <% end %>
          </li>
          <li>
            <%= link_to create_micropost_path do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li>
            <%= link_to current_user do %>
              <i class="far fa-user"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </footer>