<% if @user.guest && current_user.guest %>
<%= render "show_if" %>
<% else %>
<%= render "show_else" %>
<% end %>
<div class="profile-logout">
  <%= link_to logout_path,class:"btn", method: :delete do %>
  <% if current_user.guest%>
  <p>トップページへ</p>
  <% else %>
  <p>ログアウト</p>
  <%end%>
  <% end %>
</div>