<% if @user.guest && current_user.guest %>
<%= render "show_if" %>
<% else %>
<%= render "show_else" %>
<% end %>
<div class="profile-logout">
  <%= link_to logout_path, method: :delete do %>
  <i class="fas fa-sign-out-alt"></i>
  <span>ログアウト</span>
  <% end %>
</div>