  <div id="idea">
    <div id="title">【1番先輩っぽいのは誰だ？】第1回先輩王！！</div>
    <div id="thumbnail">
      <%= image_tag  "senpai-ou.png" %>
    </div>
    <div id="detail">
      一定時間を一人一人に与えて後輩と先輩がお出かけする。何人か先輩がいて誰が一番先輩っぽいことをできたかを争う。後輩が判定する。お金で解決する先輩。飲みに連れて行ってくれる先輩。旅行に連れて行ってくれる先輩などなどがいる。
    </div>
  </div>
  <div id="judge">
    <ul>
      <li class="heart">
        <div class="btn-icon">
          <i class="fas fa-heart"></i>
        </div>
      </li>
      <li class="nop">
        <div class="btn-icon">
          <i class="fas fa-times"></i>
        </div>
      </li>
    </ul>
  </div>