<%
=begin%>
<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign uppppppppppppppppppppppppppppppppppp</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<%
=end%>

<body>
  <section id="login">
    <div>
      <ul>
        <li id="app-visual-login">
          <div>
            <h1>サンプルテキスト</h1>
            <h1>サンプルテキストンプルテキストンプルテキスト</h1>
            <h1>サンプ</h1>
          </div>
        </li>
        <li id="login-form">
          <%flash.each do |message_type,message|%>
          <%= content_tag(:div,message,class: "alert alert-#{message_type}")%>
          <%end%>
          <div class="tab-wrap">
            <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
            <label class="tab-label" for="TAB-01">Log in</label>
            <div class="tab-content">
              <%= render  "new_login" %>
            </div>
            <input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="TAB-02">Sign up</label>
            <div class="tab-content">
              <%= render  "new_signup" %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</body>