<section id="search">
    <h2>検索</h2>
    <%= form_tag(search_path, class: "search_container",:method => "get") do %>
    <%= text_field_tag :search %>
    <%= button_tag type:"submit",class: "submit", :name => nil do%>
    <i class="fas fa-search"></i>
    <% end %>
    <% end %>
    <% if !@feed_items.nil? %>
    <%= render @feed_items %>
    <% end %>
</section>