/*color*/
$color1: #ffcf32;
$white: #ffffff;
$black: #333333;
$blue: #1877f2;
$nop: #e0245e;
$heart: #e0245e;
$green: #019c74;
$near-white: #eee;
$gold: #d6a140;
$silver: #e5e5e0;
$bronze: #d87b5f;
$search-light:#ccddf5;
$search:#3879d9;
