@import "color.scss";
@import "default.scss";
/*fontawesome*/
@import "font-awesome-sprockets";
@import "font-awesome";
/*bootstrap*/
@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  resize: vertical;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  // font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  div {
    text-align: center;
    i {
      font-size: 30px;
      color: $black;
      margin: 0 auto;
    }
  }
  #header-container {
    width: 100%;
    position: relative;
    svg {
      height: auto;
      width: 30px;
    }
    #header-right {
      position: absolute;
      right: 5%;
      top: 15%;
    }
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  // display: block;//デバッグするときここいじる
  display: none; //デバッグするときここいじる
  position: fixed;
  bottom: 8vh;
  text-align: center;
  height: 9vh;
  width: 50%;
  clear: both;
  width: 100%;
  @include box_sizing;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  background-color: #0000ff;
  // @extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*post_idea*/

#post-idea {
  width: 70%;
  margin: 0 auto;
}
#micropost-form {
  margin-top: 5%;
  form {
    width: 100%;
    .field {
      textarea {
        height: 12rem;
      }
    }
  }
}

/*login_page*/
.login {
  img.signup {
    max-width: 350px;
    width: 70%;
  }
  width: 100%;
  height: 100%;
  .brand-name {
    font-family: "Yusei Magic", sans-serif;
    text-align: center;
  }
  h1.brand-name {
    margin-bottom: 3rem;
  }
  div.alert {
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 0;
  }
  .wrapper {
    display: block;
    height: auto;
  }
  .guest_login {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 80%;
    margin: 0 auto;
    a {
      z-index: 99;
      margin-top: 4rem;
      display: block;
      color: black;
      text-decoration: none;
      text-align: center;
      background-color: $blue;
      padding: 1rem;
    }
  }
  div {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 600px) {
      .app-visual-login {
        display: none;
      }
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          width: 100%;
          text-align: left;
          padding: 5% 5%;
          h3 {
            padding: 1rem 0;
          }
        }
      }
    }
    @media screen and (min-width: 600px) {
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li {
          width: 50%;
          text-align: left;
          padding: 5% 5%;
          h3 {
            padding: 1rem 0;
          }
        }
      }
    }
    .app-visual-login {
      color: $black;
      font-weight: bold;
      text-align: center;
    }
  }
}

/*log in or sign up page*/

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.tab-label {
  color: White;
  background: LightGray;
  margin-right: 5px;
  padding: 3px 12px;
  order: -1;
}
.tab-content {
  display: none;
  .btn {
    background-color: $color1;
  }
}
/* アクティブなタブ */
.tab-switch:checked + .tab-label {
  background: $color1;
}
.tab-switch:checked + .tab-label + .tab-content {
  display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}
.row {
  margin: 0 auto;
}
.col-md-6 {
  margin: 0 auto;
}

/* profile page logout */
.profile-logout {
  margin: 2rem auto;
  text-align: right;
  font-weight: bold;
  a {
    background-color: $green;
    color: $white;
    // i {
    //   font-size: 30px;
    // }
  }
}

/* search */
#search {
  width: 80%;
  min-width: 420px;
  margin: 0 auto;
  .search_container {
    box-sizing: border-box;
    margin-bottom: 3rem;
  }
  .search_container input[type="text"] {
    background: $search-light;
    border: none;
    height: 35px;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  h2 {
    padding: 3rem 0;
  }
  .submit {
    cursor: pointer;
    border: none;
    background: $search;
    color: $white;
    outline: none;
    width: 6rem;
  }
}
/*404*/
error {
  text-align: center;
  width: 100%;
  height: 100%;
  .wrapper {
    img {
      max-width: 100%;
    }
  }
}
