  <header>
    <div id="header-container">
      <%= link_to root_path do %>
      <i class="fas fa-pen-square"></i>
      <% end %>
      <div id="logout">
        <%= link_to logout_path, method: :delete do%>
        <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    </div>
  </header>