  <header>
    <div id="header-container">
      <%= link_to root_path do %>
        <%= embedded_svg "icon.svg" %>
      <% end %>
      <div id="header-right">
        <%= link_to create_micropost_path do %>
        <i class="fas fa-edit"></i>
        <% end %>
      </div>
    </div>
  </header>